---
# Operator Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pages-operator
  namespace: kup6s-pages
  labels:
    app: pages-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pages-operator
  template:
    metadata:
      labels:
        app: pages-operator
    spec:
      serviceAccountName: pages-operator
      containers:
        - name: operator
          # TODO: Build own image
          image: ghcr.io/kleinundpartner/kup6s-pages-operator:latest
          imagePullPolicy: Always
          args:
            - --pages-domain=pages.kup6s.io
            - --cluster-issuer=letsencrypt-prod
            - --metrics-bind-address=:8080
            - --health-probe-bind-address=:8081
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
