apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kup6s-pages.fullname" . }}-operator
  namespace: {{ include "kup6s-pages.namespace" . }}
  labels:
    {{- include "kup6s-pages.operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicas }}
  selector:
    matchLabels:
      {{- include "kup6s-pages.operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.operator.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kup6s-pages.operator.selectorLabels" . | nindent 8 }}
        {{- with .Values.operator.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kup6s-pages.operator.serviceAccountName" . }}
      {{- with .Values.operator.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: operator
          image: {{ include "kup6s-pages.image" (dict "image" .Values.operator.image "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          args:
            - --pages-domain={{ .Values.operator.pagesDomain }}
            - --cluster-issuer={{ .Values.operator.clusterIssuer }}
            - --nginx-namespace={{ include "kup6s-pages.namespace" . }}
            - --nginx-service-name={{ include "kup6s-pages.fullname" . }}-nginx
            - --metrics-bind-address={{ .Values.operator.metricsBindAddress }}
            - --health-probe-bind-address={{ .Values.operator.healthProbeBindAddress }}
            {{- range .Values.operator.extraArgs }}
            - {{ . }}
            {{- end }}
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          {{- with .Values.operator.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
